body{
    margin: auto;

}
.container{
    width:960px;
    height: 960px;
    margin:auto;
}
header{
    background-color: red;
    padding: 1px;
}
nav > ul > li{
    display: inline-block;
}
main{
    background-color:pink ;
    width: 60%;
    height: 400px;
    display: inline-block;
}
aside{
    background-color: yellow;
    width: 40%;
    display: inline-block;
    height: 400px;
    float: right;

}
footer {
}